<div class="row">
    <div class="col-2">
        <strong>{{name}}:</strong>
    </div>
    <div class="col-6">
        {% if viewOnly %}
            <span class="current-value">{{ val }}</span>
        {% else %}
            {% if invoice.ID > 0 %}
                <span class="current-value">{{ val }}</span>
                <input name="{{field|lower}}" disabled class="new-value form-control form-control-sm form-inline" type="text" style="display: none;" value="{{ val }}">
                <a href="#" class="edit text-secondary small">editera</a>
            {% else %}
                <input name="{{field|lower}}" class="new-value form-control form-control-sm form-inline" type="text" value="{{ val }}">
            {% endif %}
        {% endif %}
    </div>
</div>
