{% if invoice.IsPaid %}
<span class="badge badge-success">Betalad</span>
{% elif invoice.IsInvoiced %}
<span class="badge badge-info">Faktura skickad</span>
{% elif invoice.IsOffered %}
<span class="badge badge-primary">Offert skickad</span>
{% endif %}
{% if invoice.Status == 1 %}
    <span class="badge badge-info">Skickad</span>
{% elif invoice.Status == 2 %}
    <span class="badge badge-success">Accepterad</span>
{% elif invoice.Status == 3 %}
    <span class="badge badge-danger">Avslagen</span>
{% endif %}
