{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{% static 'vendor/font-awesome-4.7.0/css/font-awesome.min.css' %}">
{% endblock %}

{% block content %}
{% if isOffer %}
<h4 class="mt-1 mb-2">Offerter</h4>
{% else %}
<h4 class="mt-1 mb-2">Fakturor</h4>
{% endif %}

<ul class="nav nav-tabs">
    {% if isOffer %}
        <li class="nav-item">
            <a class="nav-link {% if not filterInactive %}active{% endif %}" href="?">Aktiva</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if filterInactive %}active{% endif %}" href="?inactive">Avslutade</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link {% if not filterPaid %}active{% endif %}" href="?paid=0">Aktiva</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if filterPaid %}active{% endif %}" href="?paid=1">Avslutade</a>
        </li>
    {% endif %}
</ul>
<table id="invoice-list" class="table table-striped sortable" data-target="#invoice-list tbody" data-url="?">
    <thead>
        <tr>
            <th data-column="number">Nummer</th>
            <th data-column="date_created">Skapad</th>
            <th data-column="date_due">Förfallodatum</th>
            <th class="w-50" data-column="name">Faktura</th>
            <th data-column="total_sum">Summa</th>
            <th data-column="customer_email">E-post</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% include "invoice/list-contents.html" %}
    </tbody>
</table>

{% if isOffer %}
<a href="{% url 'offer-view' id=-1 %}" class="btn btn-success">Skapa ny offert</a>
{% else %}
<a href="{% url 'invoice-view' id=-1 %}" class="btn btn-success">Skapa ny faktura</a>
{% endif %}

{% endblock %}

{% block javascript %}
<script src="/static/js/search.js"></script>
<script src="/static/js/sort.js"></script>
{% endblock %}
