{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{% static 'vendor/jquery-ui-1.13.1/jquery-ui.min.css' %}">
<link rel="stylesheet" href="{% static 'vendor/jquery-ui-1.13.1/jquery-ui.theme.min.css' %}">
<link rel="stylesheet" href="{% static 'vendor/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<style>
    {% if invoice.ID > 0 %}
        .card-edit {display: none;}
        #save-btn {display: none;}
    {% else %}
        .card-display {display: none;}
    {% endif %}
</style>
{% endblock %}

{% block content %}
<form method="POST">
    <div class="card mt-2">
        <div class="card-body">

                <span class="dropdown float-right">
                    <i class="fa fa-cog dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"></i>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a class="dropdown-item" data-toggle="modal" data-target="#invoice-confirm-delete-modal">Ta bort faktura</a></li>
                        {% if invoice.ID > 0 and invoice.IsPaid %}
                            <li><a class="dropdown-item" href="{% url 'invoice-view-invoice' id=invoice.ID %}">Ladda hem faktura</a></li>
                            <li><a class="dropdown-item" href="{% url 'invoice-set-flag' id=invoice.ID %}?flag=paid&revoke=true">Markera som obetald</a></li>
                        {% endif %}
                    </ul>
                </span>


            <h5 class="card-title">
                {% if isOffer %}
                    Offert {{invoice.Number}} - {{invoice.Name}}
                {% else %}
                    Faktura {{invoice.Number}} - {{invoice.Name}}
                {% endif %}
                <a href="#" class="edit card-display text-secondary small">editera</a></h5>
            <div class="card-subtitle">
                {% include "invoice/flags.html" %}
                {% if invoice.ID > 0 %}
                    {% if isOffer %}
                        {% if invoice.Status == 1 %}
                            <small class="col-6 card-display">Offert skickad {{invoice.DateInvoiced|date}}</small>
                        {% endif %}
                    {% else %}
                        {% if invoice.IsPaid %}
                            <small>betalad {{invoice.DatePaid|date}}</small>
                        {% else %}
                            <small class="col-6 card-display">Fakturadatum {{invoice.DateInvoiced|date}}</small>
                            <small class="col-6 card-display">Förfallodatum {{invoice.DateDue|date}}</small>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>

            <div class="card-display mt-1">
                {% if invoice.AdditionalInfo %}
                    <h6 class="mb-0">Ytterligare information</h6>
                    <p class="card-text mb-0">{{invoice.AdditionalInfo}}</p>
                {% endif %}
                {% if invoice.RutApplicable %}
                    <small><i class="fa fa-check text-success"></i> ROT/RUT avdragsgill</small>
                {% endif %}
            </div>

            <div class="card-edit"> <!--style="display: none;"> -->
                {% include "invoice/field.html" with name="Namn" field="name" val=invoice.Name %}

                {% if invoice.ID > 0 and not invoice.IsPaid %}
                    {% include "invoice/field-date.html" with name="Fakturadatum" field="date_invoiced" val=invoice.DateInvoiced default=today %}
                    {% include "invoice/field-date.html" with name="Förfallodatum" field="date_due" val=invoice.DateDue default=defaultDueDate %}
                {% endif %}
                {% include "invoice/field-textarea.html" with name="Ytterligare information" field="additional_info" val=invoice.AdditionalInfo %}
                {% if invoice.ID %}
                    {% include "invoice/field-bool.html" with name="ROT/RUT avdragsgill" field="rut_applicable" val=invoice.RutApplicable %}
                {% else %}
                    {% include "invoice/field-bool.html" with name="ROT/RUT avdragsgill" field="rut_applicable" val=true %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="card mt-2">
        <div class="card-body">
            <h5 class="card-title">Kund <a href="#" class="edit card-display text-secondary small">editera</a></h5>
            <div class="card-display">
                <small>
                    {{invoice.Customer.Name}}
                    {{invoice.Customer.Email}}
                    {{invoice.Customer.Telephone}}
                </small>
            </div>
            <div class="card-display">
                <small>
                    {{invoice.Customer.Address1}}
                    {{invoice.Customer.Address2}}
                    {{invoice.Customer.Postcode}}
                    {{invoice.Customer.City}}
                </small>
            </div>

            {% if invoice.RutApplicable %}
                {% if not invoice.Customer.PNR %}
                    <div class="alert alert-warning">Personnummer ej angivet, men fakturan är markerad som ROT/RUT avdragsgill</div>
                {% else %}
                    <small class="card-display"><i class="fa fa-check text-success"></i> personnummer angivet</small>
                {% endif %}
            {% endif %}

            <div class="card-edit">
                {% include "invoice/field.html" with name="Namn" field="customer.name" val=invoice.Customer.Name %}
                {% include "invoice/field.html" with name="E-post" field="customer.email" val=invoice.Customer.Email %}
                {% include "invoice/field.html" with name="Telefonnummer" field="customer.telephone" val=invoice.Customer.Telephone %}
                {% include "invoice/field.html" with name="Personnummer" field="customer.pnr" val=invoice.Customer.PNR %}
                <div id="customer-pnr-error" class="font-italic small text-danger" style="display: none;">Personnummer måste anges som 12 siffor utan bindestreck (t.ex. 19990102031234)</div>
                {% include "invoice/field.html" with name="Adress 1" field="customer.address1" val=invoice.Customer.Address1 %}
                {% include "invoice/field.html" with name="Adress 2" field="customer.address2" val=invoice.Customer.Address2 %}
                {% include "invoice/field.html" with name="Postkod" field="customer.postcode" val=invoice.Customer.Postcode %}
                {% include "invoice/field.html" with name="Stad" field="customer.city" val=invoice.Customer.City %}
            </div>
        </div>
    </div>

    <input type="hidden" name="roworder" value="">
    <div class="card mt-2 mb-2">
        <div class="card-body">
            <h5 class="card-title">Fakturarader</h5>
            <table id="invoice_rows" class="table table-hover">
                <thead>
                <tr>
                    <th>Beskrivning</th>
                    <th class="text-right">Pris</th>
                    <th class="text-right">Antal</th>
                    <th class="text-right">Totalt inkl moms</th>
                    <th class="text-right">Varav moms</th>
                    <th class="text-center">ROT/RUT</th>
                    <th></th>
                </tr>
                </thead>
                <tbody {% if invoice.IsInvoiced %}data-disabled="true"{% endif %}>
                {% for r in invoice.Rows %}
                <tr data-row="{{r.ID}}" data-json="{{r|json}}">
                    <td>{{ r.Description }}</td>
                    <td class="text-right">{{ r.Cost|money }}</td>
                    <td class="text-right">{{ r.Count }} {% if r.Unit != 0 %}{{ r.Unit.String }}{% endif %}</td>
                    <td class="text-right">{{ r.Total|money }}</td>
                    <td class="text-right">{{ r.VAT.String }}</td>
                    <td class="text-center">{% if r.IsRotRut %}<i class="fa fa-check"></i>{% endif %}</td>
                    <td class="text-center edit">
                        <i class="fa fa-chevron-right"></i>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="row">
                <div class="col-2 align-top">
                    {% if not invoice.IsInvoiced %}
                    <button id="invoice-show-add-row" type="button" class="btn btn-sm btn-primary">Lägg till fakturarad</button>
                    {% endif %}
                </div>
                <div class="col-10 text-right">
                    <div id="total-incl" class="small" {% if totals.Incl.IsZero %}style="display: none;"{% endif %}>Totalt inkl moms: <span class="sum">{{totals.Incl|money}}</span></div>
                    <div id="total-vat-25" class="small" {% if totals.VAT25.IsZero %}style="display: none;"{% endif %}>Moms (25 %): <span class="sum">{{totals.VAT25|money}}</span></div>
                    <div id="total-vat-12" class="small" {% if totals.VAT12.IsZero %}style="display: none;"{% endif %}>Moms (12 %): <span class="sum">{{totals.VAT12|money}}</span></div>
                    <div id="total-vat-6" class="small" {% if totals.VAT6.IsZero %}style="display: none;"{% endif %}>Moms (6 %): <span class="sum">{{totals.VAT6|money}}</span></div>
                    <div id="total-rot-rut" class="small" {% if totals.ROTRUT.IsZero %}style="display: none;"{% endif %}>ROT / RUT: <span class="sum">{{totals.ROTRUT|money}}</span></div>
                    <div id="total-customer" class="small" {% if totals.Customer.IsZero %}style="display: none;"{% endif %}>Kunden betalar: <span class="sum">{{totals.Customer|money}}</span></div>
                </div>
            </div>
        </div>
    </div>

    <button id="save-btn" type="submit" class="btn btn-sm btn-success">
        {% if invoice.ID > 0 %}
            Spara ändringar
        {% else %}
            {% if isOffer %}
                Skapa offert
            {% else %}
                Skapa faktura
            {% endif %}
        {% endif %}</button>

    {% if invoice.ID > 0 %}
        {% if isOffer %}
            {% if invoice.Status == 0 %}
                <a class="btn btn-sm btn-primary" href="{% url 'offer-get-pdf' id=invoice.ID %}">Ladda hem offert</a>
                <a class="btn btn-sm btn-primary" href="{% url 'offer-set-flag' id=invoice.ID %}?flag=offered">Markera offert som skickad</a>
            {% elif invoice.Status == 1 %}
                <a class="btn btn-sm btn-primary" href="{% url 'offer-set-flag' id=invoice.ID %}?flag=accepted">Markera offert som accepterad</a>
                <a class="btn btn-sm btn-secondary" href="{% url 'offer-set-flag' id=invoice.ID %}?flag=rejected">Markera offert som avslagen</a>
            {% endif %}
        {% else %}
            {% if not invoice.IsInvoiced %}
                <a class="btn btn-sm btn-primary" href="{% url 'invoice-view-invoice' id=invoice.ID %}">Ladda hem faktura</a>
                <a class="btn btn-sm btn-primary" href="{% url 'invoice-set-flag' id=invoice.ID %}?flag=invoiced">Markera faktura som skickad</a>
            {% elif not invoice.IsPaid%}
                <a class="btn btn-sm btn-primary" data-toggle="modal" data-target="#invoice-date-modal">Markera faktura som betalad</a>
            {% endif %}
        {% endif %}
    {% endif %}
</form>

{% include "invoice/row-modal.html" %}
{% include "invoice/date-modal.html" %}
{% include "invoice/confirm-modal.html" %}
{% endblock %}

{% block javascript %}
<script src="{% static 'vendor/jquery-ui-1.13.1/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/new.js' %}"></script>
<script src="{% static 'js/invoice.js' %}"></script>
{% endblock %}
