{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{% static 'vendor/jquery-ui-1.13.1/jquery-ui.min.css' %}">
<link rel="stylesheet" href="{% static 'vendor/jquery-ui-1.13.1/jquery-ui.theme.min.css' %}">
{% endblock %}

{% block content %}
<div class="card mt-2">
    <div class="card-body">
        <h5 class="card-title">{{rut.Type.String}}-ärende för faktura {{rut.Invoice.Number}} - {{rut.Invoice.Name}}</h5>
        <div class="card-subtitle">{% include "rut/status.html" %}</div>

        {% if not rut.Invoice.RutApplicable %}
        <div class="alert alert-warning" role="alert">
            Fakturan som är kopplad till ärendet är inte markerad som avdragsgill för RUT/ROT
        </div>
        {% endif %}
        {% if not rut.Invoice.IsPaid %}
        <div class="alert alert-warning" role="alert">
            Fakturan som är kopplad till ärendet är inte markerad som betalad - fakturan måste vara betalad innan
            ärendet skickas till skatteverket
        </div>
        {% endif %}

        <div><small>Faktura betalad {{ rut.Invoice.DatePaid|date }}</small></div>
        {% if rut.Status > 1 %}
        <div>
            <small>
                {{rut.Type.String}}-ärende inskickat {{rut.DateSent|date:"2006-01-02"}}
            </small>
        </div>
        {% endif %}
        {% if rut.Status == 2 %}
        <div>
            <small>
                {{rut.Type.String}}-ärende betalat {{rut.DatePaid|date:"2006-01-02"}}
            </small>
        </div>
        {% endif %}
    </div>
</div>
<div class="card mt-2">
    <div class="card-body">
        <h5 class="card-title">Kund</h5>
        <div class="card-display">
            <small>
                {{rut.Invoice.Customer.Name}}
                {{rut.Invoice.Customer.Email}}
            </small>
        </div>
        <div class="card-display">
            <small>
                {{rut.Invoice.Customer.PNR}}
            </small>
        </div>

        <div class="card-display">
            <small>
                {{rut.Invoice.Customer.Address1}}
                {{rut.Invoice.Customer.Address2}}
                {{rut.Invoice.Customer.Postcode}}
                {{rut.Invoice.Customer.City}}
            </small>
        </div>
    </div>
</div>

<form method="POST">
    <div class="card mt-2">
        <div class="card-body">
            <h5 class="card-title">Fakturarader att begära ersättning för</h5>
            <table id="invoice_rows" class="table table-hover">
                <thead>
                <tr>
                    <th>Beskrivning</th>
                    <th class="text-right">Kostnad per enhet</th>
                    <th class="text-right">Antal</th>
                    <th class="text-right">Enhet</th>
                    <th class="text-right">Total kostnad</th>
                    <th class="text-right">Varav moms</th>
                    <th class="text-left">Typ av arbete</th>
                    <th class="text-left">Antal timmar
                        <span class="badge badge-pill badge-primary" data-toggle="tooltip" title="Antal arbetade timmar måste anges i ansökan. Om enheten inte redan är timmar måste detta fält fyllas i här">?</span>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for r in filteredRows %}
                <tr data-row="{{r.ID}}">
                    <td>{{ r.Description }}</td>
                    <td class="text-right">{{ r.Cost|money }}</td>
                    <td class="text-right">{{ r.Count }}</td>
                    <td class="text-right">{{ r.Unit.String }}</td>
                    <td class="text-right">{{ r.Total|money }}</td>
                    <td class="text-right">{{ r.VAT.String }}</td>
                    <td class="text-left">{{ r.RotRutServiceType.String }}</td>
                    <td class="text-left">
                        {% if r.Unit == 2 %}
                            {{ r.Count }} h
                        {% else %}
                            <input type="number" class="form-inline" name="hours[{{r.ID}}]" min="0" {% if r.RotRutHours %}value="{{r.RotRutHours}}"{% endif %}>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% if rut.Status == 0 %}
        <div class="card mt-2 mb-2">
            <div class="card-body pb-0">
                <h5 class="card-title">Summa att begära från skatteverket</h5>
                <div class="form-group">
                    <input name="request-sum" type="number" class="form-control" id="field-sum" aria-describedby="field-sum-help" value="{% if hasRequestedSum %}{{rut.RequestedSum}}{% else %}{{maxAmount}}{% endif %}" autocomplete="off">
                    <small id="field-sum-help" class="form-text text-muted">Maximal summa att begära är {{maxAmount}} kr {% if rut.Type == 0 %}(50% för RUT){% else %}(30% för ROT){% endif %}.</small>
                </div>
            </div>
        </div>

        {% if not rut.Invoice.Customer.PNR %}
            <div class="alert alert-warning" role="alert">
                Inget personnummer är angivet på fakturan - detta krävs för att skapa underlag till skatteverket
            </div>
        {% endif %}

        {% if not rut.RequestedSum %}
            <div class="alert alert-warning" role="alert">
                Inget belopp är begärt - detta krävs för att skapa underlag till skatteverket
            </div>
        {% endif %}

        <button id="save-btn" type="submit" class="btn btn-sm btn-success" style="display: none;">Spara uppgifter</button>
</form>

        {% if canExport %}
            <a href="{% url 'rut-export' id=rut.ID %}" type="button" class="btn btn-sm btn-primary">Skapa underlag till skatteverket</a>
        {% endif %}
        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#rut-date-modal">Markera som inskickad till skatteverket</button>
        {% include "rut/date-modal.html" with flagname="sent" title="Markera som inskickad till skatteverket" datetext="Datum" btntext="Spara" %}
    {% elif rut.Status == 1 %}
        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#invoice-row-modal">Markera som betalad av skatteverket</button>
        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#invoice-row-modal">Markera som avslagen av skatteverket</button>
    {% endif %}

    {% if canExport %}
        <br>
        <small>
            Underlag skickas in via skatteverkets hemsida -
            <a href="https://sso.skatteverket.se/ht/ht_web_extranat/secure/valjFilBegaran.do">https://sso.skatteverket.se/ht/ht_web_extranat/secure/valjFilBegaran.do</a>.
            Det är också möjligt att lämna in ansökan manuellt
        </small>
    {% endif %}
</form>
{% endblock %}

{% block javascript %}
<script src="{% static 'vendor/jquery-ui-1.13.1/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/rut.js' %}"></script>
{% endblock %}
