{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/js/jquery-ui-1.12.1/jquery-ui.min.css">
<link rel="stylesheet" href="/static/js/jquery-ui-1.12.1/jquery-ui.theme.min.css">
{% endblock %}

{% block content %}
<h1>{{rut.Type.String}}-ärende för faktura {{rut.Invoice.Number}}</h1>
{% include "rut/status.html" %}

{% if not rut.Invoice.RutApplicable %}
<div class="alert alert-warning" role="alert">
    Fakturan som är kopplad till ärendet är inte markerad som avdragsgill för RUT/ROT
</div>
{% endif %}
{% if not rut.Invoice.IsPaid %}
<div class="alert alert-warning" role="alert">
    Fakturan som är kopplad till ärendet är inte markerad som betalad - fakturan måste vara betalad innan
    ärendet skickas till skatteverket
</div>
{% endif %}

<div class="row">
    <div class="col-6">
        <div class="row">
            <div class="col-2">
                <strong>Faktura:</strong>
            </div>
            <div class="col-6">
                {{ rut.Invoice.Name }}
            </div>
        </div>

        {% include "invoice-field-date.html" with name="Faktura betalad" field="" val=rut.Invoice.DatePaid viewOnly=true %}
        {% if rut.Status > 1 %}
            <div class="row">
                <div class="col-4"><strong>{{rut.Type.String}}-ärende inskickat</strong></div>
                <div class="col-6">{{rut.DateSent|date:"2006-01-02"}}</div>
            </div>
        {% endif %}
        {% if rut.Status == 2 %}
            <div class="row">
                <div class="col-4"><strong>RUT/ROT-ärende betalat</strong></div>
                <div class="col-6">{{rut.DatePaid|date:"2006-01-02"}}</div>
            </div>
        {% endif %}
    </div>
    <div class="col-6">
        <h4>Kund</h4>
        {% include "invoice-field.html" with name="Namn" val=rut.Invoice.Customer.Name viewOnly=true %}
        {% include "invoice-field.html" with name="E-post" val=rut.Invoice.Customer.Email viewOnly=true %}
        {% include "invoice-field.html" with name="Personnummer" val=rut.Invoice.Customer.PNR viewOnly=true %}
    </div>
</div>

<h4>Fakturarader att begära ersättning för</h4>
<table id="invoice_rows" class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Beskrivning</th>
        <th class="text-right">Kostnad per enhet</th>
        <th class="text-right">Antal</th>
        <th class="text-right">Enhet</th>
        <th class="text-right">Total kostnad</th>
        <th class="text-right">Varav moms</th>
        <th class="text-left">Typ av arbete</th>
        <th class="text-left">Antal timmar
            <span class="badge badge-pill badge-primary" data-toggle="tooltip" title="Antal arbetade timmar måste anges i ansökan. Om enheten inte redan är timmar måste detta fält fyllas i här">?</span>
        </th>
    </tr>
    </thead>
    <tbody>
    {% for r in filteredRows %}
        <tr data-row="{{r.ID}}">
            <td>{{ r.Description }}</td>
            <td class="text-right">{{ r.Cost|money }}</td>
            <td class="text-right">{{ r.Count }}</td>
            <td class="text-right">{{ r.Unit.String }}</td>
            <td class="text-right">{{ r.Total|money }}</td>
            <td class="text-right">{{ r.VAT.String }}</td>
            <td class="text-left">{{ r.RotRutServiceType.String }}</td>
            <td class="text-left">
                {% if r.Unit == 2 %}
                    {{ r.Count }} h
                {% else %}
                    <input type="number" class="form-inline" min="0">
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% if rut.Status == 0 %}
<div class="row">
    <div class="col-lg-4 col-md-6">
        <div class="form-group">
            <label for="field-type">Typ av begäran</label>
            <select type="email" class="form-control" id="field-type">
                <option value="rut" selected>RUT</option>
                <option value="rot">ROT</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field-sum">Summa att begära från skatteverket</label>
            <input type="email" class="form-control" id="field-sum" aria-describedby="field-sum-help" value="{{maxAmount}}">
            <small id="field-sum-help" class="form-text text-muted">Maximal summa att begära är {{maxAmount}} {% if rut.Type == 0 %}(50% för RUT){% else %}(30% för ROT){% endif %}.</small>
        </div>
    </div>
</div>

{% if not rut.Invoice.Customer.PNR %}
<div class="alert alert-warning" role="alert">
    Inget personnummer är angivet på fakturan - detta krävs för att skapa underlag till skatteverket
</div>
{% endif %}
<button type="button" class="btn btn-primary" {% if not rut.Invoice.Customer.PNR %}disabled{% endif %} data-toggle="modal" data-target="#invoice-row-modal">Skapa underlag till skatteverket</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#invoice-row-modal">Markera som inskickad till skatteverket</button>
{% elif rut.Status == 1 %}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#invoice-row-modal">Markera som betalad av skatteverket</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#invoice-row-modal">Markera som avslagen av skatteverket</button>
{% endif %}


{% include "invoice-row-modal.html" %}
{% include "invoice-date-modal.html" %}
{% endblock %}

{% block javascript %}
<script src="/static/js/jquery-ui-1.12.1/jquery-ui.min.js"></script>
<script src="/static/js/new.js"></script>
<script lang="js">
    $(function () {
        $(".datepicker").datepicker({
            dateFormat: "yy-mm-dd",
            firstDay: 1,
            dayNames: [ "Söndag", "Måndag", "Tisdag", "Onsdag", "Torsdag", "Fredag", "Lördag" ],
            dayNamesMin: [ "Sö", "Må", "Ti", "On", "To", "Fr", "Lö" ],
            dayNamesShort: [ "Sön", "Mån", "Tis", "Ons", "Tor", "Fre", "Lör" ],
            monthNames: [ "Januari", "Februari", "Mars", "April", "Maj", "Juni", "Juli", "Augusti", "September", "Oktober", "November", "December" ],
            monthNamesShort: [ "Jan", "Feb", "Mar", "Apr", "Maj", "Jun", "Jul", "Aug", "Sep", "Okt", "Nov", "Dec" ]
        });
    });
</script>
{% endblock %}
