<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    {% block css %}
    {% endblock %}
    <title>{% block title %}Faktura-PDF - {% block pagetitle %}{% endblock %}{% endblock %}</title>
</head>

<body class="lpc">
<div class="wrapper wrapper-boxed">
    <div class="main">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Faktura-PDF</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {% if logged_in  && session.Company.ID > 0 %}
                        <li class="nav-item {% if currentPage == 'invoice-list' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'invoice-list' %}">Fakturor {% if invoiceCount > 0 %}<span class="badge badge-secondary">{{invoiceCount}}</span>{% endif %}</a>
                        </li>
                        <li class="nav-item {% if currentPage == 'rut-list' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'rut-list' %}">ROT/RUT-ärenden {% if rutCount > 0 %}<span class="badge badge-secondary">{{rutCount}}</span>{% endif %}</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <ul class="navbar-nav">
                {% if not logged_in %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Logga in</a>
                    </li>
                {% else %}
                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                            Inloggad som {{session.User.Username}}
                            {% if session.Company.ID %}
                                / {{session.Company.Name}}
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu">
                            {% if session.Company.ID %}
                                <li><a class="dropdown-item" href="{% url 'company-list' %}">Byt företag</a></li>
                                <li><a class="dropdown-item" href="{% url 'company-view' id=session.Company.ID %}">Editera företag</a></li>
                                <li><hr class="dropdown-divider"></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="#">Inställningar</a></li>
                            <li><a class="dropdown-item" href="{% url 'login' %}?logout=1">Logga ut</a></li>
                        </ul>
                    </li>
                {% endif %}
        </nav>

        <main class="content">
            <div class="container">
                {% block content %}
                {% endblock content %}
            </div>
        </main>
    </div>
</div>
</body>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.bundle.min.js"></script>
{% block javascript %}
{% endblock %}
</body>
</html>
