{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/js/jquery-ui-1.12.1/jquery-ui.min.css">
<link rel="stylesheet" href="/static/js/jquery-ui-1.12.1/jquery-ui.theme.min.css">
{% endblock %}

{% block content %}
<h1>Faktura {{invoice.Number}}</h1>
{% include "invoice-flags.html" %}

<form method="POST">
    <div class="row mt-2">
        <div class="col-8">
            {% include "invoice-field.html" with name="Namn" field="name" val=invoice.Name %}
            <div class="row">
                <div class="col-2">
                    <strong>Skapad:</strong>
                </div>
                <div class="col-6">
                    {{ invoice.DateCreated|date }}
                </div>
            </div>
            {% if invoice.ID > 0 %}
            {% include "invoice-field-date.html" with name="Fakturadatum" field="date_invoiced" val=invoice.DateInvoiced default=today %}
            {% include "invoice-field-date.html" with name="Förfallodatum" field="date_due" val=invoice.DateDue default=defaultDueDate includeDaysLeft=true %}
            {% endif %}

            {% include "invoice-field-textarea.html" with name="Ytterligare information" field="additional_info" val=invoice.AdditionalInfo %}
            {% include "invoice-field-bool.html" with name="ROT/RUT avdragsgill" field="rut_applicable" val=invoice.RutApplicable default=true %}

            <h4>Kund</h4>
            {% include "invoice-field.html" with name="Namn" field="customer.name" val=invoice.Customer.Name %}
            {% include "invoice-field.html" with name="E-post" field="customer.email" val=invoice.Customer.Email %}
            {% include "invoice-field.html" with name="Personnummer" field="customer.pnr" val=invoice.Customer.PNR %}
            {% include "invoice-field.html" with name="Adress 1" field="customer.address1" val=invoice.Customer.Address1 %}
            {% include "invoice-field.html" with name="Adress 2" field="customer.address2" val=invoice.Customer.Address2 %}
            {% include "invoice-field.html" with name="Postkod" field="customer.postcode" val=invoice.Customer.Postcode %}
            {% include "invoice-field.html" with name="Stad" field="customer.city" val=invoice.Customer.City %}
        </div>

        {% if invoice.ID > 0 %}
        <div class="col-4">
            {% if not invoice.IsOffered and not invoice.IsInvoiced and not invoice.IsPaid %}
            <span class="dropdown">
                <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                    Offert
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a class="dropdown-item" href="/invoice/{{invoice.ID}}/offer">Ladda hem offert</a></li>
                    <li><a class="dropdown-item" href="/invoice/{{invoice.ID}}/flag?flag=offered">Markera offert som skickad</a></li>
                </ul>
            </span>
            {% endif %}

            <span class="dropdown">
                <button class="btn btn-sm btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                    Faktura
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a class="dropdown-item" href="/invoice/{{invoice.ID}}/invoice">Ladda hem faktura</a></li>
                    {% if not invoice.IsInvoiced %}
                        <li><a class="dropdown-item" href="/invoice/{{invoice.ID}}/flag?flag=invoiced">Markera faktura som skickad</a></li>
                    {% elif not invoice.IsPaid%}
                        <li><a class="dropdown-item" href="/invoice/{{invoice.ID}}/flag?flag=paid">Markera faktura som betalad</a></li>
                    {% else %}
                        <li><a class="dropdown-item" href="/invoice/{{invoice.ID}}/flag?flag=paid&revoke=true">Markera som obetald</a></li>
                    {% endif %}
                </ul>
            </span>

            {% if invoice.RutApplicable and invoice.IsPaid %}
            <span class="dropdown">
                <button class="btn btn-sm btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                    ROT/RUT
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    {% if not invoice.IsRutPaid %}
                        <li><a class="dropdown-item" href="/invoice/{{invoice.ID}}/flag?flag=rut_sent">Markera ROT/RUT som inskickad</a></li>
                        <li><a class="dropdown-item" href="/invoice/{{invoice.ID}}/flag?flag=rut_paid">Markera ROT/RUT som betalad</a></li>
                    {% else %}
                        <li><a class="dropdown-item" href="/invoice/{{invoice.ID}}/flag?flag=rut_paid&revoke=true">Markera ROT/RUT som obetald</a></li>
                    {% endif %}
                </ul>
            </span>
            {% endif %}
        </div>
        {% endif %}
    </div>

    <h4>Fakturarader</h4>
<table id="invoice_rows" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Beskrivning</th>
            <th class="text-right">Kostnad per enhet</th>
            <th class="text-right">Antal</th>
            <th class="text-right">Enhet</th>
            <th class="text-right">Total kostnad</th>
            <th class="text-right">Varav moms</th>
            <th class="text-center">ROT/RUT</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for r in invoice.Rows %}
        <tr data-row="{{r.ID}}">
            <td>{{ r.Description }}</td>
            <td class="text-right">{{ r.Cost|money }}</td>
            <td class="text-right">{{ r.Count }}</td>
            <td class="text-right">{{ r.Unit.String }}</td>
            <td class="text-right">{{ r.Total|money }}</td>
            <td class="text-right">{{ r.VAT.String }}</td>
            <td class="text-center">{% if r.IsRotRut %}x{% endif %}</td>
            <td class="text-center">
                <button class="delete-row btn btn-sm btn-danger">x</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#invoice-row-modal">Lägg till rad</button>
<button type="submit" class="btn btn-success">Spara</button>

</form>
{% include "invoice-row-modal.html" %}
{% endblock %}

{% block javascript %}
<script src="/static/js/jquery-ui-1.12.1/jquery-ui.min.js"></script>
<script src="/static/js/new.js"></script>
<script lang="js">
    $(function () {
        $(".datepicker").datepicker({
            dateFormat: "yy-mm-dd",
            firstDay: 1,
            dayNames: [ "Söndag", "Måndag", "Tisdag", "Onsdag", "Torsdag", "Fredag", "Lördag" ],
            dayNamesMin: [ "Sö", "Må", "Ti", "On", "To", "Fr", "Lö" ],
            dayNamesShort: [ "Sön", "Mån", "Tis", "Ons", "Tor", "Fre", "Lör" ],
            monthNames: [ "Januari", "Februari", "Mars", "April", "Maj", "Juni", "Juli", "Augusti", "September", "Oktober", "November", "December" ],
            monthNamesShort: [ "Jan", "Feb", "Mar", "Apr", "Maj", "Jun", "Jul", "Aug", "Sep", "Okt", "Nov", "Dec" ]
        });

        $(".edit").on('click', function (ev) {
            $(this).prevAll(".current-value").hide();
            $(this).prevAll(".new-value").removeAttr('disabled').show();
            $(this).hide();
        });

        $(".delete-row").on('click', function (ev) {
            ev.preventDefault();
            let parent = $(this).closest("tr");
            let el = newEl("input", {name: "delete_row[]", type: "hidden", value: parent.data("row")});
            parent.replaceWith(el);
            return false;
        });

        let update_price = function () {
            let $t = $(this);
            if (this.id === "invoice-row-vat") {
                $t = $("#invoice-row-price-incl");
            }

            let price = parseFloat($t.val());
            let vat = parseFloat($("#invoice-row-vat").val());

            if (price === undefined) return;

            if (!$t.data("vat-incl")) {
                price = price*(1+vat);
            } else {
                price = price/(1+vat);
            }

            if (parseInt(price) !== price) price = price.toFixed(2);
            $($t.data("price-target")).val(price);
        };

        $("#invoice-row-price-incl").on({keyup: update_price, change: update_price});
        $("#invoice-row-price-exkl").on({keyup: update_price, change: update_price});
        $("#invoice-row-vat").on({change: update_price});

        let rowID = 0;
        $("#add-row").on('click', function (ev) {
            let form = $("#invoice-row-form")[0];
            if (form.checkValidity() === false) {
                ev.preventDefault();
                ev.stopPropagation();
                form.classList.add("was-validated");
                return false;
            }

            let entry = {
                description: $("#invoice-row-description").val(),
                cost: parseFloat($("#invoice-row-price-incl").val()),
                count: parseFloat($("#invoice-row-count").val()),
                unit: parseInt($("#invoice-row-unit").val()),
                vat: parseInt($("#invoice-row-vat").val()),
                is_rot_rut: $("#invoice-row-rut-rot").is(":checked"),
            };
            entry.total = entry.cost * entry.count;


            let units = ["-", "st", "timmar", "dagar"];
            let vat = ["25 %", "12 %", "6 %", "0 %"];
            let el = newEl("tr", {
                children: [
                    newEl("td", {
                        children: [
                            newEl("input", {name: "row[]", type: "hidden", value: JSON.stringify(entry)}),
                            newEl("span", {textContent: entry.description}),
                        ]
                    }),
                    newEl("td", {classList: "text-right", children: [ newEl("span", {textContent: entry.cost}), ]}),
                    newEl("td", {classList: "text-right", children: [ newEl("span", {textContent: entry.count}), ]}),
                    newEl("td", {classList: "text-right", children: [ newEl("span", {textContent: units[entry.unit]}), ]}),
                    newEl("td", {classList: "text-right", children: [ newEl("span", {textContent: entry.total}), ]}),
                    newEl("td", {classList: "text-right", children: [ newEl("span", {textContent: vat[entry.vat]}), ]}),
                    newEl("td", {classList: "text-center", children: [ newEl("span", {textContent: entry.is_rot_rut ? "x" : ""}), ]}),
                ]
            });
            rowID++;
            $("#invoice_rows tbody").append(el);
            $("#invoice-row-modal").modal('hide');
            return false;
        });
    });
</script>
{% endblock %}
