{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h1>
        Faktura-PDF
    </h1>

    Faktura-PDF är ett hjälpmedel för att skapa offerter och fakturor för mindre företag.

    <div class="row">
        <div class="col-4">
            <div class="figure">
                <div class="figure-img">

                </div>
                <div class="figure-caption">
                    Enkel fakturahantering
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="figure">
                <div class="figure-img">

                </div>
                <div class="figure-caption">
                    Stöd för ROT/RUT
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="figure">
                <div class="figure-img">

                </div>
                <div class="figure-caption">
                    Gratis
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
